<div id="root">

  <script type="text/javascript">
    window.logoUrl = "<%=image_url('chore_bunny_logo.png')%>"
    window.textUrl = "<%=image_url('chore_bunny_text.png')%>"
    window.quickUrl = "<%=image_url('quick.png')%>"
    window.profileHeader = "<%=image_url('header.jpg')%>"
    window.thumbUp = "<%=image_url('up.png')%>"
    window.thumbDown = "<%=image_url('down.png')%>"
    window.logoWhite = "<%=image_url('bunny_logo_white.png')%>"

    window.carOne = "<%=image_url('carousel/woodburner.jpg')%>"
    window.carTwo = "<%=image_url('carousel/trash.jpg')%>"
    window.carThree = "<%=image_url('carousel/wateringflowers.jpg')%>"
    window.carFour = "<%=image_url('carousel/wheelbarrow.jpg')%>"
    window.carFive = "<%=image_url('carousel/wheelbarrowclose.jpg')%>"
    window.carSix = "<%=image_url('carousel/sweepingup.jpg')%>"

  </script>
</div>
